{% extends 'base.html'%}

{% block content %}
<hr>
<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            <a href="{{ url_for('index')}}" class="list-group-item list-group-item-action {% if posts['page'] == 0 %} bg-bg-secondary {% endif %}">
                PLC Introduction
            </a>

            <a href="{{ url_for('encoder')}}" class="list-group-item list-group-item-action {% if posts['page'] == 1 %} bg-bg-secondary {% endif %}">
                Obfuscation Encoder
            </a>

            <a href="{{ url_for('decoder')}}" class="list-group-item list-group-item-action {% if posts['page'] == 2 %} bg-bg-secondary {% endif %}">
                Obfuscation Decoder
            </a>

            <a href="{{ url_for('usagemanual')}}" class="list-group-item list-group-item-action {% if posts['page'] == 3 %} bg-bg-secondary {% endif %}">
                Usage Manual
            </a>

        </div>
        <img src="{{url_for('static', filename='img/logo_normal.png')}}" class="rounded" alt="logo" width="200"> 
    </div>

    <div class="col-sm-10">
        {% block mgmContent %} 
        {% endblock %}    
    </div>
</div>
{% endblock %}
